@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Crimson+Text&family=Rye&display=swap');
$colors: (
   primario: rgb(74, 1, 74),
   secundario: rgb(173, 149, 14)
);

$perspective: 35rem;
$titulo: 'Rye', cursive;
$titulo-carta: 'Castoro Titling', cursive;
$contenido-carta: 'Crimson Text', serif;

@mixin forma-carta {
    height: 16.5rem;
    width: 11.5rem; 
    position: relative;
    margin: 1rem;
 }

@function color($color-name){
    @return map-get($colors , $color-name)
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg,black 20%, color(primario) 70%, color(secundario));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.titulo {
    font-family: $titulo;
    color: color(secundario);
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
}

.carta {
    @include forma-carta();
}

.carta .face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.4s;
}

.carta {
    .front{
        transform: perspective($perspective) rotateY(0deg);

        img {
            position: absolute;
            object-fit: cover;
        }
    }
}

.carta {
    .back{
        transform: perspective($perspective) rotateY(180deg);
        background: color(secundario);
        border-radius: 0.35rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.75rem;

        h4 {
            font-family: $titulo-carta;
            font-size: 2em;
            font-weight: 400px;
            color: color(primario);
            margin-bottom: 0.5em;
        }

        span {
            font-family: $contenido-carta;
            font-size: 1.15em;
            color: beige;
        }
    }
}


.carta:hover {

    .front{
        transform: perspective($perspective) rotateY(180deg);
    }
    .back {
        transform: perspective($perspective) rotateY(360deg);
    }
}




