@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Crimson+Text&family=Rye&display=swap');

$colors: (
   primario: rgb(25, 7, 32),
   secundario: rgb(8, 7, 37)
);

$perspective: 30rem;
$titulo: 'Rye', cursive;
$titulo-carta: 'Castoro Titling', cursive;
$contenido-carta: 'Crimson Text', serif;

@mixin forma-carta {
    height: 22.6rem;
    width: 13rem; 
    position: relative;
    margin: 1rem;
    transition: all 0.4s;
 }

@function color($color-name){
    @return map-get($colors , $color-name);
}

* , *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

img{
  width: 100%;
}

body{
    background: linear-gradient(115deg, color(primario), color(secundario));
    position: relative;
    isolation: isolate; 
    height: 100vh;
    overflow: hidden;
}

body::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.2;
    background-image: url(../img/constellation.jpg);
    background-size: 100%;
}

.container{
    margin: 8rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.titulo {
    font-family: $titulo;
    padding-top: 2rem;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

.carta {
    @include forma-carta();
}

.selected, .hidden{
    transition: all 0.4s;
}

.carta .face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.4s;
}

.carta {
    .front{
        border-radius: 0.8rem;
        transform: perspective($perspective) rotateY(0deg);

        img {
            position: absolute;
            object-fit: cover;
        }
    }
}

.carta {
    .back{
        transform: perspective($perspective) rotateY(180deg);
        background: rgb(15, 58, 15);
        border-radius: 0.35rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.75rem;

        h4 {
            font-family: $titulo-carta;
            font-size: 2em;
            font-weight: 400px;
            color: white;
            margin-bottom: 0.5em;
        }

        span {
            font-family: $contenido-carta;
            font-size: 1.15em;
            color: beige;
        }
    }
}

.carta:hover {
    transform: scale(1.05);
}

.selected{
    .front{
        transform: perspective($perspective) rotateY(180deg) scale(1.3);
    }
    .back {
        transform: perspective($perspective) rotateY(360deg) scale(1.3);
    }
}

.hidden{
        display: none;
}




